<div class="header">
    <div class="header-logo-title-container">
        <img class="header-logo" src="../../../assets/icons8-growing-plant-48.png">
        <h2 class="header-title">Native Plant DB</h2>
    </div>
    <div class="header-options-container">
        <div *ngIf="isSignedIn()">
            <a>
                Custom Plant List
            </a>
        </div>
        <div>
            <a>
                Resources
            </a>
        </div>
        <div class="signIn-container">
            <a>
                Sign In
            </a>
        </div>
    </div>
</div>
