.header {
    top: 0;
    position: fixed;
    width:100%;
    height: 58px;
    border-bottom: solid black 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 9px;

    &-logo {
        height:40px;
        width: 40px;
    }

    &-logo-title-container {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        gap: 30px;
        padding-left: 20px;
    }

    &-title {
        color: black;
        font-family: 'Courier New', Courier, monospace;
    }

    &-options-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        div {
            width:100px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;


            a {
                cursor: pointer;

                
             }
     
             a:hover {
                 color: #ffa86b;
             }
        }
    }
}

.signIn-container {
    background: #CCD5AE;
}

.signIn-container:hover {
    background: #E9EDC9;
}




