<div class="container">
    <div class="welcome-card">
        <h2 class="welcome-card-title"> Welcome to my New Jersey Native Plant Database!</h2>
        <div class="welcome-card-bullets">
            <ul>
                <li>
                    Look through our extensive catalogue of native New Jersey Plants or use the search filter.

                </li>
                <li>
                    (Coming Soon) Register or Sign In to add/delete/update plants in the database (admins only)
                    <br> and gain access to custom plant list.
                </li>
            </ul>
        </div>
    </div>
</div>

