.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.welcome-card {
    background-color: #D4A373;
    border: black solid 1px;
    border-radius: 15px;
    color: white;
    width: 45%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    &-bullets {
        ul {
            
        }
    }
}


